<section
  id="about"
  class="px-6 md:px-20 py-20 text-gray-800 dark:text-gray-100 transition-colors duration-300 rounded-3xl shadow-xl backdrop-blur-lg max-w-7xl mx-auto bg-white/60 dark:bg-gray-800/60 border border-gray-200 dark:border-gray-700"
>
  <div class="text-center">
    <h2 class="text-3xl md:text-4xl font-bold mb-6">
      <ng-container *transloco="let text"> 
                        <i class="fas fa-user text-indigo-600 dark:text-indigo-400 text-4xl"></i>

        {{ text('about_me.aboutMe') }} </ng-container>
    </h2>
    <p class="text-lg leading-relaxed">
      <ng-container *transloco="let text">
        <span [innerHTML]="text('about_me.intro')"></span>
      </ng-container>
    </p>

    <div class="mt-8 flex flex-wrap justify-center gap-4">
      <ng-container>
        <!-- Loop through skills -->
        <ng-container *ngFor="let skill of skills(); let i = index">
          <span class="px-4 py-2 rounded-full text-sm font-medium" [ngClass]="getColorClass(i)">
            {{ skill }}
          </span>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>
